#outer {
    border: 2px dashed black;
    padding: 10px;
    overflow:hidden;
}

.box {
    float:left;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}
#newLine{
    clear: left;
}
ul {
    background-color: red;
    padding: 20px;
    text-align: center;
}
li {
    display: inline;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}
#container{
    background-color: lightgrey;
    overflow: hidden;
    padding: 10px;
    width:500px;
}
#column1,#column2{
    background-color: lightblue;
    margin-left:10px;
    float:right;
    width: 100px;
}
h1{
    background-color: yellow;
}

#a, #b {
    width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
}
#containerAB{
    width:400px;
    overflow: hidden;
}
#a {
    background-color: lightblue;
    float:left;
}
#b {

    background-color: pink;
    float:left;
}
#c {
    clear:left;
    text-align:left;
    background-color: lightgray;
}

