body{
background-color: white;
}
h1,h2,h3,h4,h5,h6 {
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
h2 {
    /* main heading */
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}
h1{
    text-align:left;
    font-size: 18pt;
    font-weight: normal;
}
/*text in the body*/
.textInBody{
    color : #404040;
    font-size:  11pt
}
/* text in page*/
.textInPage{
font-family: Georgia,Garamond,serif;
}
/* any links on the page*/
a{
    color: #A4A400;
}

.boldDirection{
        font-weight: bold;
}
pre{
    font-family: monospace;
    text-align: left;
}
blockquote.comment{
 background-color: #FFFFA8;
}
.cake{
    text-decoration: line-through;
}